{%extends "A_header_footer.html" %}
{%block header_footer_content%}



<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  {% for f in Sidebar_Files %}
    <a href="{{ url_for('page_selected', url_topic=topic, url_page=f )  }}">{{ f }} </a>
  {% endfor %}
</div>




<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
</div>


<!-- Here's where the blog content will go -->
      {% block main_content %}
      {% endblock %}

</body>
</html>

      {% endblock %}
